<app-header></app-header>

<app-navbar></app-navbar>

<main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
  <router-outlet></router-outlet>
</main>

<!--Then need to create the backend api. Then in angular I
  need to create the api.service for the front end api. Then I will have to create a header component which will act as my name and label and contact info.
  Then i will have to create a overall allProjects page that will populate with portfolio project thumbnails. 
  When the thumnails of the project image is clicked then it will go into a carasel component and that component will contain a bunch of pictures
   of the project. on the bottom of each carsel the name of the project, github link, tech/language used, and brief description. I want to put a more 
   detailed challenges/solution text in side the carsel. The carsel can be of videos but I think because I will get a free tier it will have to use images
   to save bandwith. I making this as simple as possible.. I want to organize all the carsels thumbnails as cards. I ant to keep this 1 or 2 pages.
   I may have a linkedin link and a resume page in there (posed as an about page).
   I going to have about 3 or 4 projects. However it may continually be updated added all the time.-->

   <!-- /Portfolio.Backend
  /Features
    /Projects
      Project.cs            <-- The Model
      ProjectEndpoints.cs    <-- The API Routes
      ProjectService.cs      <-- The Logic (optional)
    /About
      AboutEndpoints.cs
  /Data
    AppDbContext.cs         <-- Global Database Connection
  Program.cs                <-- Registration

  overall structure -split frontend in vs code and backend in visual studio 2026
  /MyPortfolio
  /client-app         <-- Open this folder in VS Code
    /src
    package.json
  /server-api         <-- Open this .sln in Visual Studio 2026
    /Features
    Portfolio.sln
    -->

    <!-- To Do:
  

    Made all the pages tablet and mobile friendly and fixed the header
    decide to save the CRUD and Auth stuff after until i build the backend. AI recommends it but for auth I should use JWT tokens
    I changed the file structure to include both the frontend and backend in one repo
    as for hosting theres Monsterasp.net or if I chose Render I have to use docker to containerize it. AI recommends Render 


    try an image processor like pillow to make images look better when resizing (angular has a builtin image processor)
    integrate that backend with ef core and nen cloud database
    add further functionality for the app to make it easier to add a project use CRUD inside portfolioSite
    maybe add a admin section in the navbar or use some simple authentication for only me to add a project and the user to only view -->
   