<app-header></app-header>

<app-navbar></app-navbar>

<main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
  <router-outlet></router-outlet>
</main>

<app-spinner></app-spinner>

@if (modalService.isOpen()) {
  <app-delete-modal></app-delete-modal>
}

<!-- This displays the header and navbar and is the main design layout for the page-->

   <!-- /Portfolio.Backend
  /Features
    /Projects
      Project.cs            <-- The Model
      ProjectEndpoints.cs    <-- The API Routes
      ProjectService.cs      <-- The Logic (optional)
    /About
      AboutEndpoints.cs
  /Data
    AppDbContext.cs         <-- Global Database Connection
  Program.cs                <-- Registration

  overall structure -split frontend in vs code and backend in visual studio 2026
  /MyPortfolio
  /client-app         <-- Open this folder in VS Code
    /src
    package.json
  /server-api         <-- Open this .sln in Visual Studio 2026
    /Features
    Portfolio.sln
    -->


   <!--ng serve --proxy-config proxy.conf.json       run run proxy--> 